<%= form_with(model: sales_record) do |form| %>

	<div class="row g-3 mb-3 align-items-center">
    <div class="col-12">
      <label class="col-form-label"><strong>Sales Person</strong></label>
      <%= form.select :sales_person_id,
    SalesPerson.all.order(:first_name, :last_name).map { |sp| ["#{sp.first_name} #{sp.last_name}", sp.id] },
    {},
    { class: "form-control select2" } %>
    </div>
  </div>
	
	<div class="row g-3 mb-3 align-items-center">
    <div class="col-12">
      <label class="col-form-label"><strong>Sell Date</strong></label>
      <div class="input-group">
        <%= form.text_field :sell_date, class: 'form-control datepicker', value: @sales_record.sell_date.strftime('%m/%d/%Y') %>
        <span class="input-group-text datepicker-icon">
          <i class="bi bi-calendar-date"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="row g-3 mb-3 align-items-center">
    <div class="col-12">
      <label class="col-form-label"><strong>Item</strong></label>
      <%= form.select :item_id,
      Item.all.order(:name).map { |item| [item.name, item.id] },
      {},
      { class: 'form-control select2' } %>
    </div>
  </div>

	<div class="row g-3 mb-3 align-items-center">
    <div class="col-12">
      <label class="col-form-label"><strong>Price</strong></label>
      <%= form.number_field :item_price, class: 'form-control' %>
    </div>
  </div>

	<div class="row">
    <div class="col-12 d-flex justify-content-end">
      <%= form.submit 'Submit', class: 'btn btn-main', data: { turbo: false }, onclick:"show_spinner()" %>
    </div>
  </div>

<% end %>