<tr>
  <% item = Item.find(sales_record.item_id) %>
  <td><%= link_to item.name, edit_sales_record_path(sales_record), class: "nav-link" %></td>
  <td><%= sales_record.item_price %></td>
  <% sales_person = SalesPerson.find(sales_record.sales_person_id) %>
  <td><%= sales_person.first_name + " " + sales_person.last_name %></td>
  <td><%= sales_record.sell_date.strftime("%m/%d/%Y") %></td>
  <td>
    <button class="btn btn-delete btn-right"
      data-sales-record-id="<%= sales_record.id %>"
      onclick="deleteSalesRecord(event)">
      Delete
    </button>
  </td>
</tr>
