<tr>
  <td><%= link_to sales_record.item.name, edit_sales_record_path(sales_record), class: "nav-link" %></td>
  <td><%= sales_record.item_price %></td>
  <td><%= "#{sales_record.sales_person.first_name} #{sales_record.sales_person.last_name}" %></td>
  <td><%= sales_record.sell_date.strftime("%m/%d/%Y") %></td>
  <td>
    <button class="btn btn-delete"
      type="button"
      data-entity="sales_records"
      data-entity-name="Sales Record"
      data-id="<%= sales_record.id %>"
      onclick="deleteEntity(event)">
      Delete
    </button>
  </td>
</tr>
