<div class="d-flex flex-column m-1">

  <div class="row">
    <div class="col-4 d-flex justify-content-start">
      <%= button_to 'Add Sales Person', new_sales_person_path, method: :get, class: 'btn btn-main btn-left' %>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <h1>Sales People</h1>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <form role="search" class="d-flex search-form">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="content-search">
      </form>
    </div>
  </div>
  
  <div class="card m-1 p-2" id="content-main">
    <div id="content-scroll">

      <% if @sales_people.present? and @sales_people.count > 0 %>
        <table class="table content" id="content-table">
          <thead>
            <tr>
              <th class="stick" scope="col"><a>Name</a></th>
              <th class="stick" scope="col"><a></a></th>
            </tr>
          </thead>
          <tbody id="content-table-body">
            <% @sales_people.each do |sales_person| %>
              <%= render 'sales_person', sales_person: sales_person %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <table class="table content">
          <thead>
            <tr>
              <th class="stick" scope="col"><a>Name</a></th>
              <th class="stick" scope="col"><a></a></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <h1 class="text-center">NO DATA</h1>
      <% end %>

      <div id="loading-spinner" style="display: none; text-align: center;">
        <div class="spinner-border" style="color: #193856;" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>

    <div style="text-align: center;" id="recordCount">
      <b>Displaying <span id="currentCount">0</span> of <%= @total_records %> Sales People</b>
    </div>
  </div>
</div>

<script>
  var offset1 = <%= Setting.first.entity_limit %>;
  var isLoading = false;

  $( document ).ready(function() {
    var rowCount = $('#content-table tbody tr').length;
    $('#currentCount').text(rowCount);

    $("#content-search").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#content-table-body tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });

  });

  $("#content-scroll").scroll(function() {
    var totalRecords = <%= @total_records %>;
    var currentCount = parseInt($('#currentCount').text());

    // Check if current count is less than total records before calling loadMoreRecords
    if (currentCount < totalRecords) {
      if ($("#content-scroll").scrollTop() >= $("#content-table").height() - $("#content-scroll").height() && !isLoading) {
        loadMoreRecords();
      }
    }
  });

  function loadMoreRecords() {

    if (isLoading) return;
    console.log("loading");
    $.ajax({
      url: "sales_people",
      data: { offset: offset1 },
      type: 'GET',
      dataType: 'script',
      cache: true,
      beforeSend: function(){
        isLoading = true;
        $("#loading-spinner").show();
      },
      success: function(data) {
        offset1 += <%= Setting.first.entity_limit %>;
        console.log("loaded");
        var rowCount = $('#content-table tbody tr').length;
        $('#currentCount').text(rowCount);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.error("AJAX Error:", textStatus, errorThrown);
      },
      complete: function(){
        isLoading = false;
        $("#loading-spinner").hide();
      }
    });
  }
</script>